body {
        display: flex;
        flex-wrap: wrap;
}

.Elements {
        height: 350px;
        background-color: #0a0a0a;
        padding: 5px;
}


.container {
        height: 300px;
        width: 300px;
        background-color: rgb(43, 40, 40);
        color: white;
        padding: 10px;
        border-radius: 15px;
}

.container img {

        height: 150px;
        width: 300px;
        border-radius: 10px;
}

.container h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
}

.container p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 19px;
}