.content-cards {
    height: 380px;
    width: 300px;
    padding: 15px;
}

button {
    background-color: black;
    color: white;
    border: 1px solid rgb(108, 107, 107);
    padding: 10px 20px;
}

.cart-container {
    height: 100px;
    background-color: red;
}

.cart {
    height: 100vh;
    width: 30vw;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}